* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ef2b2b;
    margin: 0; 
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        background-color: rgb(27, 24, 24);
       
    }
}

.content .pokename {
    color: rgb(56, 56, 194);
    text-align: center;
}
@keyframes blink {
    0%, 100% {
        background-color: #007bff; 
    }
    50% {
        background-color: #0041a8; 
        box-shadow: 0 0 20px rgba(0, 123, 255, 0.9);
    }
}
.corner-ball {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    animation: blink 1s infinite;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}


